fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy==2.0.36
pydantic==2.10.3
pydantic-settings==2.6.1
pyxirr==0.10.6
chinese-calendar==1.10.0
holidays==0.63
httpx==0.28.1
pandas==2.2.3
pandas-datareader==0.10.0
